@import "tailwindcss";

@theme {
    --color-primary: #c91d1d;
    --color-background-light: #faf9f6;
    --color-background-dark: #1a1515;
    --color-canvas: #f2ede4;
    --color-accent-blue: #3a5a78;
    --color-warm-beige: #f5f0e1;
    --font-display: "Work Sans", sans-serif;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Smooth scrolling for anchor links */
html {
    scroll-behavior: smooth;
}